#text-center {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.container {
	max-width: 1100px;
	margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.col-md-4 {
	width: auto;
}

#header {
	margin-top: 30px;
}

/* Type animation */

.type-animation {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: center;
  padding-bottom: 20px;
} 

.type-animation p{
  color: black; 
  font-family: "Courier";
  font-size: 16px;
  margin: 6px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 4s steps(60, end); 
}

.type-animation p:nth-child(2){
  animation: type2 5s steps(60, end);
}

.type-animation p:nth-child(3){
  animation: type3 8s steps(60, end);
}

.type-animation p:nth-child(4){
  animation: type3 12s steps(60, end);
}

.type-animation p a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.type-animation span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  70%{width: 0;}
  100%{width: 100;}
} 

@keyframes blink{
  to{opacity: .0;}
}

/* --------------- */


/* --------- Instagram logo --------- */
#ig-b- { display: inline-block; }
#ig-b- img { visibility: hidden; }
#ig-b-:hover { background-position: 0 -60px; } 
#ig-b-:active { background-position: 0 -120px; }
#ig-b-v-24 { width: 137px; height: 24px; background: url(http://instagramstatic-a.akamaihd.net/h1/thirdparty/images/badges/ig-badge-view-24.png/d93e757e1104.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
#ig-b-v-24 { background-image: url(http://instagramstatic-a.akamaihd.net/h1/thirdparty/images/badges/ig-badge-view-24.png/d93e757e1104.png); background-size: 160px 178px; } }
/* ----------------------------- */

/* Instagram photos */
/*#firstImg {
	max-width: 300px;
  	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
}

#secondImg {
	max-width: 300px;
  	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
}

#thirdImg {
	max-width: 300px;
  	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
}*/

.ig-photo {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
    height: auto;
    width: 100%;
    padding: 15px;
}

/*.igphotos {
	position:relative;
display: inline-block;
float:left;
padding:10px;
}

#ig-photos {
	min-width: 1050px;
    margin-right: auto;
	margin-left: auto;
	max-width: 90%;
	position: absolute;
	left: 23%;
	right: 23%;
	margin-left: -150px;
	margin-right: -150px;
	    overflow: hidden;
}*/

/*.instagram-photos {position:relative; width:100% max-width:600px; margin:auto; padding: 20px; text-align:center;}

.photos {position:relative; display:inline-block; width:30% max-width:180px; margin:auto; padding: 0px 10px 0px 10px;}*/

#ig-logo {
	padding-top: 310px;
	padding-left: 69px;
}

/*#firstCol {
	width: 350px;
}

#secondCol {
	width: 340px;
}

#thirdCol {
	width: 350px;
}*/

#row3 {
	margin-top: 100px;
	height: 500px;
	background-image: url(https://d3q49wayiwmron.cloudfront.net/wp-content/uploads/programming.jpg);
	background-position: center;
	opacity: 0.2;
	width: 1000px;
	margin-left: 30px;
}

hr {
	margin-bottom: 40px;
}
