html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #292929;
	font-family: Consolas,monaco,monospace;
	font-weight: lighter;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

p {
	color: #3ed0fb;
}

#name h1 {
    color: white;
    font-weight: 100;
    padding-bottom: 30px;
}

#name span {
	color: #f42670;
}

#name2 {
	display: none;
}

#name2 h1 {
    color: white;
    font-weight: 100;
    padding-bottom: 30px;
}

#name2 span {
	color: #f42670;
}

#selector {
	color: #b8ff3b;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
}

#brackets {
	color: white;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:100;
    position:relative;
}

.container {
	padding: 40px;
	width: 50%;
	z-index:10;
    position:relative;
}

.rwd-break {
	display: block;
	display: none;
}

.tab {
	display: block;
	display: none;
}

.value {
	padding-left: 25px;
	margin:0;
}

footer {
	color: #9755ec;
}

/* social medias */
.fa {
	color: white;
}

.social-medias i {
	padding: 14px 10px;
}

/* For desktop: */
@media only screen and (max-width: 768px) {
    .wrapper h1 {
    	font-size: 5.5em;
	}
	.wrapper span {
		font-size: 18px;
	}
}

@media only screen and (max-width: 420px) {
    .container {
    	padding: 0;
    	padding-bottom: 20px;
    	padding-top: 20px;
    	width: 90%;
    }
    .rwd-break {
		display: block;
	}
	#name {
		display: none;
	}
	#name2 {
		display: block;
	}
	p {
		font-size: 17px;
	}
}

@media only screen and (max-width: 320px) {
	h1 {
		font-size: 32px;
	}
	p {
		font-size: 14px;
	}
}